.tooltip-wrapper {
    z-index: 99;
    -webkit-transform: translateZ(0);
    /* webkit flicker fix */
    -webkit-font-smoothing: antialiased;
    /* webkit text rendering fix */
}

.tooltip-wrapper .tooltip {
    background: #fff;
    border: 1px solid #d0d7dd;
    border-radius: 5px;
    top: 100%;
    color: black;
    display: block;
    left: -7px;
    margin-top: 15px;
    opacity: 0;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    width: 100%;
    opacity: 0;
}

button.late {
    background-color: red;
}


/* This bridges the gap so you can mouse into the tooltip without it disappearing */

.tooltip-wrapper .tooltip:before {
    top: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}


/* CSS Triangles - see Trevor's post */

.tooltip-wrapper .tooltip:after {
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-bottom: solid #d0d7dd 10px;
    top: -10px;
    content: " ";
    height: 0;
    left: 30%;
    margin-left: -13px;
    position: absolute;
    width: 0;
}

.tooltip-wrapper:hover .tooltip {

    width: 210px;
    pointer-events: auto;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    opacity: 1;
}


/* IE can just show/hide with no transition */

.lte8 .tooltip-wrapper .tooltip {
    display: none;
}

.lte8 .tooltip-wrapper:hover .tooltip {
    display: block;
}