body {
	font-family: 'Roboto', sans-serif;
	
}

section {
	padding-left: 40px;
	padding-right: 40px;
}

a , a.visited {
	text-decoration: none;

}

ul {
  list-style-type: none;
  padding: 0;
}
 
section , div  {
   --mdc-theme-primary: #eff9e6;
   --mdc-theme-secondary: #eff9e6;

}

.calendar i {
  vertical-align: middle;
}


.hidden {
  display: none;
}

.capitalize {
  text-transform: capitalize;
}

.month {
  font-weight: normal;
  background-color: gray;
  color: #fff;
  padding: 5px;

}

.mdc-button.mdc-button--stroked  {
  color: #000;
  border-color: #000;
}

.month.active {
  background-color: #000;
 
}

#map {
  width: 100%;
  height: 300px;
}

#add-to-csv.active {
  color: #b13a3a;
}

#add-to-csv.added {
  color: #8fb368;
  cursor: default ;
}


div , a {
	--mdc-theme-accent: #eff9e6;
	font-weight: 300;
	color: #1d2531;
}   

p {
	font-weight: 300;
}

hr {
  border:none;
  border-top:2px dashed #f2f2f2;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
}

.inline-left {
  display: inline;
  float: left;
}

.mdc-tab {
  font-weight: lighter;
}

md-checkbox .md-icon {
    background: red;
}
md-checkbox.md-default-theme.md-checked .md-icon {
    background: orange;
}

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}

a.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  top: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

ul.project-links li a  {
  vertical-align: super;
  border-bottom: 1px dotted #ccc;
}

.even {
  background-color: #f8f8f8;
}
.mdc-checkbox__checkmark__path {
	stroke: #000 !important;
}

.mdc-list {
  padding: 0;
}

.no-padding {
	padding: 0;
}

.accent-color-text {
	color: #6e8e4b;
}

.mdc-typography--subheading3 { 
	font-size: 1em;
	font-weight: 400;
 }

.mdc-card__actions {
	background-color: #f8f8f8;
}
 .icons span {
 	font-size: 12px;
    vertical-align: super;
 }

.list-inline {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.img-responsive {
	width: 100%;
	height: auto;
}

.pull-right {
	margin-left: auto;
	float: right;
	left: 0;
}

.pull-left {
	float: left;
}

.text-center {
	text-align: center;
}

.warning {
	color: #b13a3a;
}

 
.icon-large{
	height: 36px;
}

.icon-large-label {
	font-size: 36px;
	line-height: 36px;
	vertical-align: middle;
	font-weight: 300;
}

.icon-medium {
	height: 25px;
}

.icon-medium-label {
	font-size: 25px;
	line-height: 25px;
	vertical-align: middle;
	font-weight: 300;
}

.date {
  font-size: 16px;
}
.icon-small {
  height: 20px;
  font-size: 20px;
  
}

.faded {
  color: #d1d1d1
}
.border-bottom {
	border-bottom: 1px solid #eff9e6;
}

.border-left {
	border-left: 1px solid #eff9e6;
}

.border-right {
	border-right: 1px solid #eff9e6;
}

.mdc-typography--display1 {
	font-weight: 300;
}
/*. --mdc-theme-primary: #795548;*/
/*mdc-theme--primary	black*/
/*mdc-theme--accent	 6e8e4b*/


/*mdc-theme--background	eff9e6*/
/*mdc-theme--accent-bg	 a8da71*/

/*.bg-primary {
  background-color: #9ab083; }

.bg-secondary {
	background-color: #eff9e6;
}*/
.text-primary , .text-primary a  {
	color: #9ab083;
	text-decoration: none;
	font-weight: 700;
}

.text-black {
	color: #000;
}

.text-white {
	color: #fff;
}
.alert {
  color: #f57c00; }


 
.fixedElement {
    background-color: transparent;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}


.padding-small {
  padding: 10px; }

 .padding-large {
 	padding: 25px;
 }

 .padding-left-large {
 	padding-left: 25px;
 }

 .padding-left-small {
  padding-left: 15px;
 }

 .planning-progress {
    font-size: 1.2em;
    padding-top: 15px;
 }



.padding-top-large {
  padding-top: 25px; }

.padding-top-small {
  padding-top: 10px; }

.padding-bottom-small {
	padding-bottom: 10px;
}

.padding-right-small {
	padding-right: 10px;
}

.padding-right-large {
	padding-right: 25px;
}


.nudge-to-boundary {
  margin-left: -5px;
  margin-right: -5px;
 }

 .nudge-to-boundary-15 {
 	 margin-left: -15px;
 	 margin-right: -15px;
 }

 #chart-tender  ul li {
    height: 50px;
    width: 15px;
    padding: 10px;
    margin: 10px;
    display: inline;
    float: left;
    background-color: #ff00ff;
 }

/*# sourceMappingURL=ui.css.map */
