$primary: #0bb586;
$alert: #f57c00;

$p-small: 10px;

.bg-primary {
	background-color: $primary
}

.alert {
	color: $alert;
}

.list-inline {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-inline>li {
    float: left;
}

.padding-small {
	margin: $p-small;
}

.padding-top-small {
	padding-top: $p-small;
}

.nudge-to-boundary {
	margin-left: -25px;;
}

.inline {
	display: inline;
}

.pull-right {
	float: right;
}